@font-face {
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Regular.woff"),
    url("../fonts/MyriadPro-Regular.eot"),
    url("../fonts/MyriadPro-Regular.ttf");
}
@font-face {
    font-family: MyriadPro-Bold;
    src: url("../fonts/MyriadPro-Bold.woff"),
    url("../fonts/MyriadPro-Bold.tff");
}
* {
    margin: 0;
    padding: 0;
    font-family: MyriadPro, sans-serif;
    text-decoration: none;
}
body {
    letter-spacing: -0.04em;
}
header {
    height: 135px;
    background-color: #333333;
}
.design {
    font-size: 60px;
    float: left;
    color: #eeeeee;
    margin: 32px 0 0 71px;
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #eeeeee;
    float: right;
    margin: 73px 71px 0 0;
}
nav a:first-child {
    color: #0f94c9;
}
.content {
    margin: 0 71px;
}
.main-titles, .additional-info {
    border-bottom: 3.5px dotted #cccccc;
    padding-bottom: 30px;
}
.main-title {
    font-family: MyriadPro-Bold, sans-serif;
    font-size: 60px;
    color: #333333;
    padding-top: 70px;
    line-height: 16px;
}
.subtitle {
    font-size: 50px;
    font-weight: normal;
    color: #bbbbbb;
    margin-top: 19px;
}
.first-class {
    line-height: 42px;
    font-size: 34px;
    margin-top: 35px;
    padding-bottom: 35px;
    border-bottom: 3.5px dotted #cccccc;
    color: #555555;
}
.web-design, .marketing, .optimization {
    display: inline-block;
    width: 283px;
    height: 351px;
    background: #00aeef;
    box-shadow: 3px 4px 5px 0px rgba(170, 170, 170, .75);
}
.web-design {
    float: left;
}
.optimization {
    float: right;
}
.service {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 50px;
    border-bottom: 3.5px dotted #cccccc;
}
.service h3 {
    border-bottom: 2px dotted #ffff;
    font-size: 40px;
    color: #ffff;
    font-weight: normal;
    padding: 0 0 15px 0;
    margin: 25px 23px 0;
}
.service .class1 {
    padding: 25px 28px 0 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
}

button {
    margin: 20px 26px 0;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-image: url(../images/button.png);
    height: 42px;
    width: 230px;
    border: 0;
}
button:hover {
    cursor: pointer;
}
.additional-info {
    margin: 33px 0 0 0;
}
.client {
    width: 100%;
    margin-top: 30px;
    white-space: nowrap;
    border-bottom: 3.5px dotted #cccccc;
    padding-bottom: 30px;
}
.Client-Testimonials {
    box-sizing: border-box;
    font-size: 24px;
    line-height: 42px;
    color: #555555;
    padding-right: 40px;
    width: 50%;
    white-space: normal;
    display: inline-block;
}
.img1 {
    float: left;
}
.class5 {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #555555;
    margin-left: 115px;
    letter-spacing: 0;
}
.class9 {
    margin-top: 20px;
}
.class2 {
    margin-top: 30px;
}
.class3 {
    margin-top: 40px;
}
.class4 {
    margin-top: 35px;
    padding-bottom: 10px;
}
.class6 {
    font-weight: bold;
}
.class7 { 
    color: #00bff3;
}
.Featured-Project {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    border-left: 3.5px dotted #cccccc;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 42px;
    color: #555555;
    padding-left: 48px;
}
.Sub-Featured {
    color: #888888;
    font-size: 20px;
    line-height: 16px;
    font-family: Arial, sans-serif;
    letter-spacing: 0;
    margin-top: 25px;
}
.Sub-Featured img {
    margin-top: 10px;
    max-width: 100%;
}
.class10 {
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
}
.Featured-Link a {
    font-size: 14px;
    line-height: 21px;
    color: #00aeef;
    margin-top: 15px;
}
Footer {
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
}
@media screen and (max-width: 780px) {
    .content {
        margin: 0 30px;
    }
    .web-design, .marketing, .optimization {
        width: 32%;
        height: 295px;
    }
    .main-title {
        font-size: 45px;
        line-height: 16px;
    }
    .subtitle {
        font-size: 40px;
    }
    .service .class1 {
        font-size: 14px;
        line-height: 16px;
    }
    .service h3 {
        font-size: 20px;
    }
    button {
        font-size: 12px;
        line-height: 24px;
        height: 30px;
        width: 180px;
    }
    .design {
        font-size: 40px;
        margin: 52px 0 0 20px;
    }
    nav {
        margin: 73px 20px 0 0;
    }
    .Featured-Project {
        height: 500px;
    }
}
@media screen and (max-width: 520px) {
    .content {
        margin: 0 20px;
    }
    .main-title {
        font-size: 30px;
        padding-top: 30px;
    }
    .subtitle {
        font-size: 25px;
        line-height: 10px;
    }
    .design {
        font-size: 25px;
        float: left;
        margin: 30px 0 0 20px;
    }
    nav {
        font-size: 12px;
        margin: 42px 20px 0 0;
    }
    header {
        height: 80px;
    }
    .web-design {
        float: none;
    }
    .optimization {
        float: none;
    }
    .first-class {
        line-height: 26px;
        font-size: 20px;
        margin-top: 13px;
        padding-bottom: 15px;
    }
    .web-design, .marketing, .optimization {
        display: block;
        width: 250px;
        height: 320px;
        margin-left: 120px;
    }
    .Client-Testimonials, .Featured-Project {
        float: none;
        display: inline;
        border-left: none;
    }
    .client {
        margin-top: 0px;
        padding-bottom: 0px;
    }
    Footer {
        margin-top: 10px;
    }
    .service h3 {
        font-size: 28px;
        margin: 20px 23px 0;
        padding-top: 15px;
    }
    .service .class1 {
        padding: 18px 28px 0 28px;
        font-size: 13px;
        line-height: 19px;
    }
    .service {
        padding-top: 0px;
        padding-bottom: 23px;
    }
}